<div class="container">
    <form style="margin-top: 2%" [formGroup]="formulario" (ngSubmit)="submitFormulario()">
        <h2 style="margin-left:34%;">Formulario de Cadastro Empresarial </h2>
        
        <div class="row" style="margin-top: 2%;">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nomeEmpresa">Nome da Empresa</label>

                    <div *ngIf="!flag[0]">
                        <input type="text" class="form-control" placeholder="Nome" formControlName="nomeEmpresa">
                    </div>
                    <div *ngIf="flag[0]">
                        <input type="text" class="form-control invalido" placeholder="Nome"
                            formControlName="nomeEmpresa">
                        <div class="invalido-texto">
                            Por favor, Informe o nome da empresa.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nomeContato">Nome de contato da empresa: </label>

                    <div *ngIf="!flag[1]">
                        <input type="text" class="form-control" placeholder="Contato" formControlName="nomeContato">
                    </div>
                    <div *ngIf="flag[1]">
                        <input type="text" class="form-control invalido" placeholder="Contato"
                            formControlName="nomeContato">
                        <div class="invalido-texto">
                            Por favor, Informe o nome do contato da empresa.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="senhaAcesso">Senha</label>

                    <div *ngIf="!flag[2]">
                        <input type="password" class="form-control" placeholder="Informe a senha"
                            formControlName="senhaAcesso">
                    </div>
                    <div *ngIf="flag[2]">
                        <input type="password" class="form-control invalido" placeholder="Informe a senha"
                            formControlName="senhaAcesso">
                        <div class="invalido-texto">
                            Por favor, Informe a senha.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="senha2">Digite novamente a senha:</label>

                    <div *ngIf="!flag[2]">
                        <input type="password" class="form-control" placeholder="Confirme a senha" id="senha2">
                    </div>
                    <div *ngIf="flag[2]">
                        <input type="password" class="form-control invalido" placeholder="Confirme a senha" id="senha2">
                        <div class="invalido-texto">
                            Por favor, Informe a senha.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefone">Telefone: </label>

                    <div *ngIf="!flag[3]">
                        <input type="tel" class="form-control" placeholder="Telefone" formControlName="telefone">
                    </div>
                    <div *ngIf="flag[3]">
                        <input type="tel" class="form-control invalido" placeholder="Telefone"
                            formControlName="telefone">
                        <div class="invalido-texto">
                            Por favor, Informe o telefone.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cnpjEmpresa">CNPJ</label>

                    <div *ngIf="!flag[4]">
                        <input type="text" class="form-control" formControlName="cnpjEmpresa" placeholder="CNPJ">
                    </div>
                    <div *ngIf="flag[4]">
                        <input type="text" class="form-control invalido" formControlName="cnpjEmpresa"
                            placeholder="CNPJ">
                        <div class="invalido-texto">
                            Por favor, Informe o CNPJ.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email address: </label>

                    <div *ngIf="!flag[5]">
                        <input type="email" class="form-control" formControlName="email" placeholder="email">
                    </div>
                    <div *ngIf="flag[5]">
                        <input type="email" class="form-control invalido" formControlName="email" placeholder="email">
                        <div class="invalido-texto">
                            Por favor, Informe o seu Email.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="endereco">Endereço: </label>

                    <div *ngIf="!flag[6]">
                        <input type="text" class="form-control" formControlName="endereco" placeholder="Endereço">
                    </div>
                    <div *ngIf="flag[6]">
                        <input type="text" class="form-control invalido" formControlName="endereco"
                            placeholder="Endereço">
                        <div class="invalido-texto">
                            Por favor, Informe o Endereço.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="categoriaAtividade">Categoria de atividade da empresa: </label>
                <div *ngIf="!flag[7]">
                    <select formControlName="categoriaAtividade" class="form-control"  (change)="onChangeEscolha($event.target.value)" >
                        <option *ngFor="let categoria of categorias" [value]="categoria.nomeRamo" >{{categoria.nomeRamo}}</option>
                    </select>
                </div>
                <div *ngIf="flag[7]">
                    <select formControlName="categoriaAtividade" class="form-control invalido"  (change)="onChangeEscolha($event.target.value)" >
                        <option *ngFor="let categoria of categorias" [value]="categoria.nomeRamo" >{{categoria.nomeRamo}}</option>
                    </select>
                    <div class="invalido-texto">
                        Por favor, Informe a Categoria de atividade da empresa.
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <label for="subcategoriaAtividade">Subcategoria de atividade da empresa: </label>
                <div *ngIf="!flag[8]">
                    <select formControlName="subcategoriaAtividade" class="form-control">
                        <option *ngFor="let sub of subCategorias" [value]="sub.segmentoMercado" >{{sub.segmentoMercado}}</option>
                    </select>
                </div>
                <div *ngIf="flag[8]">
                    <select formControlName="subcategoriaAtividade" class="form-control invalido">
                        <option *ngFor="let sub of subCategorias" [value]="sub.segmentoMercado" >{{sub.segmentoMercado}}</option>
                    </select>
                    <div class="invalido-texto">
                        Por favor, Informe a Subcategoria de atividade da empresa .
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="tipoPlano">Tipo de Plano: </label>

                <div *ngIf="!flag[10]">
                    <select formControlName="tipoPlano" class="form-control">
                        <option value="basico">Básicio</option>
                        <option value="premium">Premium</option>
                        <option value="trial">Trial</option>
                    </select>
                </div>
                <div *ngIf="flag[10]">
                    <select formControlName="tipoPlano" class="form-control invalido">
                        <option value="Basico">Básicio</option>
                        <option value="Premium">Premium</option>
                        <option value="Trial">Trial</option>
                    </select>
                    <div class="invalido-texto">
                        Por favor, Informe o Tipo do Plano.
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <label for="areasInteresse">Área Geográfica de Interesse: </label>

                <div *ngFor="let area of areaInteresse">
                    <label>
                        <input type="checkbox" [value]="area.valor" formControlName="typeCheckBox" (change)="onCheckboxChange($event,area.valor)"/>
                        {{area.name}}
                    </label>
                </div>

                <!-- <div class="checkbox">
                    <label style="margin-left: 10%;"><input type="checkbox" [(ngModel)] = "areaInteresse1" value="SP">São Paulo</label>
                    <label style="margin-left: 10%;"><input type="checkbox" >Minas Gerais</label>
                    <label style="margin-left: 10%;"><input type="checkbox" >Rio de Janeiro</label>
                </div> -->


                <!-- <div *ngIf="!flag[9]">
                    <select formControlName="areasInteresse" class="form-control">
                        <option value="SP">São Paulo</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="RJ">Rio de Janeiro</option>
                    </select>
                </div>
                <div *ngIf="flag[9]">
                    <select formControlName="areasInteresse" class="form-control invalido">
                        <option value="SP">São Paulo</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="RJ">Rio de Janeiro</option>
                    </select>
                    <div class="invalido-texto">
                        Por favor, Informe a Área Geográfica de Interesse.
                    </div>
                </div> -->


            </div>

        </div>

        <button class="btn btn-primary button-save">Finalizar</button>
    </form>
</div>