<div class="container">
    <h2 style="margin-left:34%;">Empresas Cadastradas no Sistema - TIPRIME </h2>

    <div class="top-pesquisa">
        <div class="form-group col-md-4">
            <label for="">Pesquisar por: </label>
            <select name="pesquisa" class="form-control" (change)="pesquisaTipo($event.target.value)">
                <option value="" selected>Selecione</option>
                <option value="nomeEmpresa">Nome da Empresa</option>
                <option value="cnpjEmpresa">Cnpj da Empresa</option>
                <option value="regiao">Mesorregião</option>
            </select>
        </div>
        <div *ngIf="tipoPesquisa">
            <div class="form-group col-md-4" style="    margin-top: 24px;">
                <input type="text" class="form-control" placeholder="Pesquisa" [(ngModel)]="pesquisa">
            </div>

            <button class="btn btn-primary" style="margin-top: 22px;" (click)="onPesquisa(pesquisa)">Pesquisar</button>
        </div>


    </div>

    <table class="table table-striped" style="margin-left: 5%;">
        <thead>
            <tr>
                <th scope="col">Nome da Empresa</th>
                <th scope="col">Nome do Contato</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Telefone</th>
                <th scope="col">Categoria</th>
                <th scope="col">Subcategoria</th>
                <th scope="col">Area de Interesse</th>
                <th scope="col">Email</th>
                <th scope="col">Endereço</th>
                <th scope="col">Tipo de Plano</th>
                <th scope="col">Ação</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empresa of empresas">
                <td>{{empresa.nomeEmpresa}}</td>
                <td>{{empresa.nomeContato}}</td>
                <td>{{empresa.cnpjEmpresa}}</td>
                <td>{{empresa.telefone}}</td>
                <td>{{empresa.categoriaAtividade}}</td>
                <td>{{empresa.subcategoriaAtividade}}</td>
                <td>{{empresa.areaInteresse}}</td>
                <td>{{empresa.email}}</td>
                <td>{{empresa.endereco}}</td>
                <td>{{empresa.tipoPlano}}</td>
                <td>
                    <div class="button-edit">
                        <button (click)="excluir(empresa)" type="button">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="button-excluir">
                        <button (click)="editar(empresa)" type="button" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>

                </td>
            </tr>

        </tbody>
    </table>
</div>


<div *ngIf="edit && dadosFormulario" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Edição formulario Empresa</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div [formGroup]="formulario" class="modal-body">


                <div class="row" style="margin-top: 2%;">


                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nomeEmpresa">Nome da Empresa</label>
                            <div *ngIf="!flag[0]">
                                <input type="text" class="form-control" placeholder="Nome" id="nomeEmpresa"
                                    formControlName="nomeEmpresa" ngModel="{{dadosFormulario.nomeEmpresa}}">
                            </div>
                            <!-- <div *ngIf="flag[0]">
                                <input type="text" class="form-control invalido" placeholder="Nome"
                                    formControlName="nomeEmpresa" [(ngModel)]="dadosFormulario.nomeEmpresa">
                                <div class="invalido-texto">
                                    Por favor, Informe o nome da empresa.
                                </div>
                            </div> -->

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nomeContato">Nome de contato da empresa: </label>

                            <div *ngIf="!flag[1]">
                                <input type="text" class="form-control" placeholder="Contato" id="nomeContato"
                                    formControlName="nomeContato" ngModel="{{dadosFormulario.nomeContato}}">
                            </div>
                            <!-- <div *ngIf="flag[1]">
                                <input type="text" class="form-control invalido" placeholder="Contato"
                                    formControlName="nomeContato" [(ngModel)]="dadosFormulario.nomeContato">
                                <div class="invalido-texto">
                                    Por favor, Informe o nome do contato da empresa.
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="senhaAcesso">Senha</label>

                            <div *ngIf="!flag[2]">
                                <input type="password" class="form-control" placeholder="Informe a senha"
                                    formControlName="senhaAcesso" ngModel="{{dadosFormulario.senhaAcesso}}">
                            </div>
                            <!-- <div *ngIf="flag[2]">
                                <input type="password" class="form-control invalido" placeholder="Informe a senha"
                                    formControlName="senhaAcesso" [(ngModel)]="dadosFormulario.senhaAcesso">
                                <div class="invalido-texto">
                                    Por favor, Informe a senha.
                                </div>
                            </div> -->

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="senha2">Digite novamente a senha:</label>

                            <div *ngIf="!flag[2]">
                                <input type="password" class="form-control" placeholder="Confirme a senha"
                                    formControlName="senhaAcesso" ngModel="{{dadosFormulario.senhaAcesso}}">
                            </div>
                            <!-- <div *ngIf="flag[2]">
                                <input type="password" class="form-control invalido" placeholder="Confirme a senha"
                                    [(ngModel)]="dadosFormulario.senhaAcesso">
                                <div class="invalido-texto">
                                    Por favor, Informe a senha.
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telefone">Telefone: </label>

                            <div *ngIf="!flag[3]">
                                <input type="tel" class="form-control" placeholder="Telefone" formControlName="telefone"
                                    ngModel="{{dadosFormulario.telefone}}">
                            </div>
                            <!-- <div *ngIf="flag[3]">
                                <input type="tel" class="form-control invalido" placeholder="Telefone"
                                    formControlName="telefone" [(ngModel)]="dadosFormulario.telefone">
                                <div class="invalido-texto">
                                    Por favor, Informe o telefone.
                                </div>
                            </div> -->

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cnpjEmpresa">CNPJ</label>

                            <div *ngIf="!flag[4]">
                                <input type="text" class="form-control" formControlName="cnpjEmpresa" placeholder="CNPJ"
                                    ngModel="{{dadosFormulario.cnpjEmpresa}}">
                            </div>
                            <!-- <div *ngIf="flag[4]">
                                <input type="text" class="form-control invalido" formControlName="cnpjEmpresa"
                                    [(ngModel)]="dadosFormulario.cnpjEmpresa" placeholder="CNPJ">
                                <div class="invalido-texto">
                                    Por favor, Informe o CNPJ.
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email address: </label>

                            <div *ngIf="!flag[5]">
                                <input type="email" class="form-control" formControlName="email" placeholder="email"
                                    ngModel="{{dadosFormulario.email}}">
                            </div>
                            <!-- <div *ngIf="flag[5]">
                                <input type="email" class="form-control invalido" formControlName="email"
                                    placeholder="email" [(ngModel)]="dadosFormulario.email">
                                <div class="invalido-texto">
                                    Por favor, Informe o seu Email.
                                </div>
                            </div> -->

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endereco">Endereço: </label>

                            <div *ngIf="!flag[6]">
                                <input type="text" class="form-control" formControlName="endereco"
                                    placeholder="Endereço" ngModel="{{dadosFormulario.endereco}}">
                            </div>
                            <!-- <div *ngIf="flag[6]">
                                <input type="text" class="form-control invalido" formControlName="endereco"
                                    placeholder="Endereço" [(ngModel)]="dadosFormulario.endereco">
                                <div class="invalido-texto">
                                    Por favor, Informe o Endereço.
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="categoriaAtividade">Categoria de atividade da empresa: </label>
                        <div *ngIf="!flag[7]">
                            <select formControlName="categoriaAtividade" class="form-control"
                                (change)="onChangeEscolha($event.target.value)">
                                <option *ngFor="let categoria of categorias" value="{{categoria.nomeRamo}}">
                                    {{categoria.nomeRamo}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="flag[7]">
                            <select formControlName="categoriaAtividade" class="form-control invalido"
                                (change)="onChangeEscolha($event.target.value)">
                                <option *ngFor="let categoria of categorias" value="{{categoria.nomeRamo}}">
                                    {{categoria.nomeRamo}}
                                </option>
                            </select>
                            <div class="invalido-texto">
                                Por favor, Informe a Categoria de atividade da empresa.
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label for="subcategoriaAtividade">Subcategoria de atividade da empresa: </label>
                        <div *ngIf="!flag[8]">
                            <select formControlName="subcategoriaAtividade" class="form-control">
                                <option *ngFor="let sub of subCategorias" value="{{sub.segmentoMercado}}">
                                    {{sub.segmentoMercado}}</option>
                            </select>
                        </div>
                        <div *ngIf="flag[8]">
                            <select formControlName="subcategoriaAtividade" class="form-control invalido">
                                <option *ngFor="let sub of subCategorias" value="{{sub.segmentoMercado}}">
                                    {{sub.segmentoMercado}}</option>
                            </select>
                            <div class="invalido-texto">
                                Por favor, Informe a Subcategoria de atividade da empresa .
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="tipoPlano">Tipo de Plano: </label>

                        <div *ngIf="!flag[10]">
                            <select formControlName="tipoPlano" class="form-control">
                                <option value="basico">Básicio</option>
                                <option value="premium">Premium</option>
                                <option value="trial">Trial</option>
                            </select>
                        </div>
                        <div *ngIf="flag[10]">
                            <select formControlName="tipoPlano" class="form-control invalido">
                                <option value="Basico">Básicio</option>
                                <option value="Premium">Premium</option>
                                <option value="Trial">Trial</option>
                            </select>
                            <div class="invalido-texto">
                                Por favor, Informe o Tipo do Plano.
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <label for="areaInteresse">Área Geográfica de Interesse: </label>

                        <div *ngFor="let area of areaInteresse">
                            <label>
                                <input type="checkbox" [value]="area.valor" formControlName="typeCheckBox"
                                    (change)="onCheckboxChange($event,area.valor)">
                                {{area.name}}

                            </label>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button class="btn btn-primary" (click)="submitFormulario()">Salvar</button>
                </div>

            </div>

        </div>
    </div>
</div>