<div class="container">
    <form style="margin-top: 2%" [formGroup]="formulario" (ngSubmit)="submitFormulario()">
        <h2 style="margin-left:34%;">Formulario de Cadastro Organizacional </h2>

        <div class="row" style="margin-top: 2%;">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nomeOrgao">Nome do Orgão</label>

                    <div *ngIf="!flag[0]">
                        <input type="text" class="form-control" placeholder="Nome" formControlName="nomeOrgao">
                    </div>
                    <div *ngIf="flag[0]">
                        <input type="text" class="form-control invalido" placeholder="Nome" formControlName="nomeOrgao">

                        <div class="invalido-texto">
                            Por favor, Informe o nome do orgão.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cnpjOrgao">CNPJ</label>

                    <div *ngIf="!flag[1]">
                        <input type="text" class="form-control" formControlName="cnpjOrgao" placeholder="CNPJ">
                    </div>
                    <div *ngIf="flag[1]">
                        <input type="text" class="form-control invalido" formControlName="cnpjOrgao" placeholder="CNPJ">

                        <div class="invalido-texto">
                            Por favor, Informe o CNPJ.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefone">Telefone: </label>

                    <div *ngIf="!flag[2]">
                        <input type="tel" class="form-control" placeholder="Telefone" formControlName="telefone">
                    </div>
                    <div *ngIf="flag[2]">
                        <input type="tel" class="form-control invalido" placeholder="Telefone"
                            formControlName="telefone">
                        <div class="invalido-texto">
                            Por favor, Informe o telefone.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email address: </label>

                    <div *ngIf="!flag[3]">
                        <input type="email" class="form-control" formControlName="email" placeholder="email">
                    </div>
                    <div *ngIf="flag[3]">
                        <input type="email" class="form-control invalido" formControlName="email" placeholder="email">
                        <div class="invalido-texto">
                            Por favor, Informe o endereço de E-mail.
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cep">CEP: </label>

                    <div *ngIf="!flag[4]">
                        <input type="text" class="form-control" placeholder="CEP" formControlName="cep">
                    </div>
                    <div *ngIf="flag[4]">
                        <input type="text" class="form-control invalido" placeholder="CEP" formControlName="cep">
                        <div class="invalido-texto">
                            Por favor, Informe o CEP.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <label for="estado">Estado: </label>

                <div *ngIf="!flag[5]">
                    <select id="estado" class="form-control" formControlName="estado">
                        <option *ngFor="let op of estados">{{op.estado}}</option>
                    </select> </div>
                <div *ngIf="flag[5]">
                    <select id="estado" class="form-control invalido" formControlName="estado">
                        <option *ngFor="let op of estados">{{op.estado}}</option>
                    </select>
                    <div class="invalido-texto">
                        Por favor, Informe o Estado.
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cidade">Cidade: </label>
                    <div *ngIf="!flag[6]">
                        <input type="text" class="form-control" formControlName="cidade" placeholder="Cidade">
                    </div>
                    <div *ngIf="flag[6]">
                        <input type="text" class="form-control invalido" formControlName="cidade" placeholder="Cidade">
                        <div class="invalido-texto">
                            Por favor, Informe o nome da Cidade.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="endereco">Endereço: </label>
                    <div *ngIf="!flag[7]">
                        <input type="text" class="form-control" formControlName="endereco" placeholder="Endereço">
                    </div>
                    <div *ngIf="flag[7]">
                        <input type="text" class="form-control invalido" formControlName="endereco" placeholder="Endereço">
                        <div class="invalido-texto">
                            Por favor, Informe o Endereço.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary button-save">Finalizar</button>
    </form>
</div>