<div class="container">
    <form style="margin-top: 2%" [formGroup]="formulario" (ngSubmit)="submitFormulario()">
        <h2 style="margin-left:34%;">Formulario de Cadastro Ramo de Atividade </h2>

        <div class="row" style="margin-top: 2%;">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nomeRamo">Nome do Ramo de Atvidade</label>

                    <div *ngIf="!flag[0]">
                        <input type="text" class="form-control" placeholder="Nome" formControlName="nomeRamo">
                    </div>
                    <div *ngIf="flag[0]">
                        <input type="text" class="form-control invalido" placeholder="Nome" formControlName="nomeRamo">

                        <div class="invalido-texto">
                            Por favor, Informe o ramo de atividade.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <label for="segmentoMercado">Segmento de Mercado: </label>
                <div *ngIf="!flag[1]">
                    <select formControlName="segmentoMercado" class="form-control" >
                        <option *ngFor="let s of segmentos" [value]="s.segmentoMercado" >{{s.segmentoMercado}}</option>
                    </select>
                </div>
                <div *ngIf="flag[1]">
                    <select formControlName="segmentoMercado" class="form-control" >
                        <option *ngFor="let s of segmentos" [value]="s.segmentoMercado" >{{s.segmentoMercado}}</option>
                    </select>
                    <div class="invalido-texto">
                        Por favor, Informe o segmento de mercado.
                    </div>
                </div>
            </div> 
            
        </div>

           
      

        <button class="btn btn-primary button-save">Finalizar</button>
    </form>
</div>