<div class="container">

    <h2 class="titulo"> Controle de Relatórios </h2>

    <button class="btn btn-primary button-save" (click)="gerarRelatorio()"> Gerar Relatório de Licitações por
        Área</button>

    <div style="margin-top: 20px;">
        <button class="btn btn-primary button-save" (click)="gerarRelatorio2()"> Gerar Relatório Faturamento por
            Empresa</button>
    </div>


    <div *ngIf="flag" style="margin-top: -24px;">
        <label for=""> <a style="margin-left: 260px;" href="{{url}}">Consultar documento</a> </label>
    </div>
</div>