<div class="container">
    <h2 style="margin-left:34%;">Orgões Cadastrados no Sistema - TIPRIME </h2>

    <div class="top-pesquisa">
        <div class="form-group col-md-4">
            <label for="">Pesquisar por: </label>
            <select name="pesquisa" class="form-control" (change)="pesquisaTipo($event.target.value)">
                <option value="" selected>Selecione</option>
                <option value="nomeOrgao">Nome do Orgão</option>
                <option value="cnpj">Cnpj do Orgão</option>
            </select>
        </div>
        <div *ngIf="tipoPesquisa">
            <div class="form-group col-md-4" style="    margin-top: 24px;">
                <input type="text" class="form-control" placeholder="Pesquisa" [(ngModel)]="pesquisa">
            </div>

            <button class="btn btn-primary" style="margin-top: 22px;" (click)="onPesquisa(pesquisa)">Pesquisar</button>
        </div>


    </div>

    <table class="table table-striped" style="margin-left: 5%;">
        <thead>
            <tr>
                <th scope="col">Nome do Orgão</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col">CEP</th>
                <th scope="col">Estado</th>
                <th scope="col">Cidade</th>
                <th scope="col">Endereço</th>
                <th scope="col">Ação</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orgao of orgaos">
                <td>{{orgao.nomeOrgao}}</td>
                <td>{{orgao.cnpj}}</td>
                <td>{{orgao.telefone}}</td>
                <td>{{orgao.email}}</td>
                <td>{{orgao.cep}}</td>
                <td>{{orgao.estado}}</td>
                <td>{{orgao.cidade}}</td>
                <td>{{orgao.endereco}}</td>
                <td>
                    <div class="button-edit">
                        <button (click)="excluir(orgao)" type="button">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="button-excluir">
                        <button (click)="editar(orgao)" type="button" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>

                </td>
            </tr>

        </tbody>
    </table>
</div>


<div *ngIf="edit && dadosFormulario" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Edição formulario Orgão</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div [formGroup]="formulario" class="modal-body">

                <div class="row" style="margin-top: 2%;">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nomeOrgao">Nome do Orgão</label>

                            <div *ngIf="!flag[0]">
                                <input type="text" class="form-control" placeholder="Nome" formControlName="nomeOrgao"
                                    ngModel="{{dadosFormulario.nomeOrgao}}">
                            </div>
                            <div *ngIf="flag[0]">
                                <input type="text" class="form-control invalido" placeholder="Nome"
                                    formControlName="nomeOrgao" ngModel="{{dadosFormulario.nomeOrgao}}">

                                <div class="invalido-texto">
                                    Por favor, Informe o nome do orgão.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cnpjOrgao">CNPJ</label>

                            <div *ngIf="!flag[1]">
                                <input type="text" class="form-control" formControlName="cnpjOrgao" placeholder="CNPJ"
                                    ngModel="{{dadosFormulario.cnpj}}">
                            </div>
                            <div *ngIf="flag[1]">
                                <input type="text" class="form-control invalido" formControlName="cnpjOrgao"
                                    ngModel="{{dadosFormulario.cnpj}}" placeholder="CNPJ">

                                <div class="invalido-texto">
                                    Por favor, Informe o CNPJ.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telefone">Telefone: </label>

                            <div *ngIf="!flag[2]">
                                <input type="tel" class="form-control" placeholder="Telefone"
                                    ngModel="{{dadosFormulario.telefone}}"
                                    formControlName="telefone">
                            </div>
                            <div *ngIf="flag[2]">
                                <input type="tel" class="form-control invalido" placeholder="Telefone" ngModel="{{dadosFormulario.telefone}}" formControlName="telefone">
                                <div class="invalido-texto">
                                    Por favor, Informe o telefone.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email address: </label>

                            <div *ngIf="!flag[3]">
                                <input type="email" class="form-control" formControlName="email" placeholder="email"
                                    ngModel="{{dadosFormulario.email}}">
                            </div>
                            <div *ngIf="flag[3]">
                                <input type="email" class="form-control invalido" formControlName="email"
                                    ngModel="{{dadosFormulario.email}}" placeholder="email">
                                <div class="invalido-texto">
                                    Por favor, Informe o endereço de E-mail.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cep">CEP: </label>

                            <div *ngIf="!flag[4]">
                                <input type="text" class="form-control" placeholder="CEP" formControlName="cep"
                                    ngModel="{{dadosFormulario.cep}}">
                            </div>
                            <div *ngIf="flag[4]">
                                <input type="text" class="form-control invalido" placeholder="CEP"
                                    ngModel="{{dadosFormulario.cep}}" formControlName="cep">
                                <div class="invalido-texto">
                                    Por favor, Informe o CEP.
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="estado">Estado: </label>

                        <div *ngIf="!flag[5]">
                            <select id="estado" class="form-control" formControlName="estado">
                                <option *ngFor="let op of estados">{{op.estado}}</option>
                            </select> </div>
                        <div *ngIf="flag[5]">
                            <select id="estado" class="form-control invalido" formControlName="estado">
                                <option *ngFor="let op of estados">{{op.estado}}</option>
                            </select>
                            <div class="invalido-texto">
                                Por favor, Informe o Estado.
                            </div>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cidade">Cidade: </label>
                            <div *ngIf="!flag[6]">
                                <input type="text" class="form-control" formControlName="cidade" placeholder="Cidade"
                                    ngModel="{{dadosFormulario.cidade}}">
                            </div>
                            <div *ngIf="flag[6]">
                                <input type="text" class="form-control invalido" formControlName="cidade"
                                    ngModel="{{dadosFormulario.cidade}}" placeholder="Cidade">
                                <div class="invalido-texto">
                                    Por favor, Informe o nome da Cidade.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endereco">Endereço: </label>
                            <div *ngIf="!flag[7]">
                                <input type="text" class="form-control" formControlName="endereco"
                                    ngModel="{{dadosFormulario.endereco}}" placeholder="Endereço">
                            </div>
                            <div *ngIf="flag[7]">
                                <input type="text" class="form-control invalido" formControlName="endereco"
                                    ngModel="{{dadosFormulario.endereco}}" placeholder="Endereço">
                                <div class="invalido-texto">
                                    Por favor, Informe o Endereço.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button class="btn btn-primary" (click)="submitFormulario()">Salvar</button>
                </div>

            </div>

        </div>
    </div>
</div>