.button-excluir{
    margin-left: 32px;
    margin-top: -43%;
    color: green;
}

.button-edit{
    margin-left: -24%;
    
    color: red;
}

.container {
    width: 1567px !important;
}

.invalido{
    border: 2px solid red;  
}

.invalido-texto{
    color: red;
}

.top-pesquisa{
    margin-top: 2%;
}

.left-pesquia{
    margin-left: 3%;
}

.container {
    padding-right: 21px !important;
    padding-left: 0px !important;
    margin-right: 0% !important;
    margin-left: 0% !important;
}