.button-excluir{
    margin-left: 32px;
    margin-top: -43%;
    color: green;
}

.button-edit{
    margin-left: -24%;
    
    color: red;
}

.container {
    width: 1567px !important;
}

.invalido{
    border: 2px solid red;  
}

.invalido-texto{
    color: red;
}

.top-pesquisa{
    margin-top: 2%;
}

.left-pesquia{
    margin-left: 3%;
}

.container {
    padding-right: 21px !important;
    padding-left: 0px !important;
    margin-right: 0% !important;
    margin-left: 0% !important;
}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
  