<div class="container">
    <h2 style="margin-left:34%;">Licitações Cadastradas no Sistema - TIPRIME </h2>

    <button *ngIf="permissao" type="button" class="btn btn-primary btn-circle btn-lg" style="margin-left: 83%;"
        data-toggle="tooltip" data-placement="top" title="Carregar mais Licitações" (click)="onAtualiza()"><i
            class="fa fa-upload"></i></button>



    <div class="top-pesquisa">

        <div class="form-group col-md-4">
            <label for="">Pesquisar por: </label>
            <select name="pesquisa" class="form-control" (change)="pesquisaTipo($event.target.value)">
                <option value="" selected>Selecione</option>
                <option value="nomeLicitacao">Nome da Licitação</option>
                <option value="dataInicial">Data </option>
            </select>
        </div>
        <div *ngIf="tipoPesquisa">
            <div class="form-group col-md-4" style="    margin-top: 24px;">
                <input type="text" class="form-control" placeholder="Pesquisa" [(ngModel)]="pesquisa">
            </div>

            <button class="btn btn-primary" style="margin-top: 22px;" (click)="onPesquisa(pesquisa)">Pesquisar</button>

        </div>



    </div>


    <button type="button" class="btn btn-primary" style="margin-left: -1015px;
        margin-top: 12px" (click)="listarHistorico()">Exibir Historicos de Licitações</button>




    <table class="table table-striped" style="margin-left: 5%;">
        <thead>
            <tr>
                <th scope="col">Nome da Licitação</th>
                <th scope="col">Modalidade</th>
                <th scope="col">Link</th>
                <th scope="col">Estado</th>
                <th scope="col">Hora da Sessão</th>
                <th scope="col">Municipio</th>
                <th scope="col">Nome do Orgão</th>
                <th scope="col">Segmento de Mercado</th>
                <th scope="col">Valor</th>
                <th scope="col">Observação</th>
                <th scope="col">Situação</th>
                <th scope="col">Ação</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let l of licitacoes">

                <td>{{l.nomeLicitacao}}</td>
                <td>{{l.modalidadeLicitacao}}</td>
                <td> <a href="{{l.link}}">{{l.link}}</a></td>
                <td>{{l.estadoOrgao}}</td>
                <td>{{l.dataehoraSessao}}</td>
                <td>{{l.municipioOrgao}}</td>
                <td>{{l.nomeOrgao}}</td>
                <td>{{l.segMercado}}</td>
                <td>R$ {{l.valor}}</td>
                <td>{{l.observacoes}}</td>
                <td>{{l.situacao}}</td>
                <td>
                    <div class="button-edit">
                        <button (click)="excluir(l)" type="button">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="button-excluir">
                        <button (click)="editar(l)" type="button" data-toggle="modal" data-target="#exampleModal"
                            title="Excluir">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>

                </td>

            </tr>

        </tbody>
    </table>
</div>


<div *ngIf="edit && dadosFormulario" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Edição formulario Licitação</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div [formGroup]="formulario" class="modal-body">

                <div class="row" style="margin-top: 2%;">
                    <div class="col-md-6">
                        <label for="situacao">Situação: </label>

                        <div *ngIf="!flag[0]">
                            <select id="situacao" class="form-control" formControlName="situacao">
                                <option *ngFor="let op of situacoes">{{op}}</option>
                            </select>
                        </div>
                        <div *ngIf="flag[0]">
                            <select id="situacao" class="form-control" formControlName="situacao">
                                <option *ngFor="let op of situacoes">{{op}}</option>
                            </select>
                            <div class="invalido-texto">
                                Por favor, Informe a Situação.
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div *ngIf="permissao">
                            <label for="valor">Valor: </label>
                            <input type="text" class="form-control" placeholder="Valor da Licitação"
                                formControlName="valor">
                        </div>
                    </div>
                </div>




                <div *ngIf="permissao" class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="segMercado">Selecione o Seguimento de Mercado: </label>
                            <select formControlName="segMercado" class="form-control">
                                <option *ngFor="let categoria of categorias" [value]="categoria.nomeRamo">
                                    {{categoria.nomeRamo}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="observacao">Observação: </label>

                            <div *ngIf="!flag[1]">
                                <textarea type="observacao" class="form-control" placeholder="Observação"
                                    formControlName="observacao" ngModel="{{dadosFormulario.observacoes}}"></textarea>
                            </div>
                            <div *ngIf="flag[1]">
                                <textarea type="observacao" class="form-control" placeholder="Observação"
                                    formControlName="observacao" ngModel="{{dadosFormulario.observacoes}}"></textarea>
                                <div class="invalido-texto">
                                    Por favor, Informe a observação.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button class="btn btn-primary" (click)="submitFormulario()">Salvar</button>
                </div>

            </div>

        </div>
    </div>
</div>