<div class="container">
    <h2 style="margin-left:34%;">Ramos de Atividade Cadastrados no Sistema - TIPRIME </h2>

    <div class="top-pesquisa">
        <div class="form-group col-md-4">
            <label for="">Pesquisar por: </label>
            <select name="pesquisa" class="form-control" (change)="pesquisaTipo($event.target.value)">
                <option value="" selected>Selecione</option>
                <option value="nomeRamo">Nome do Ramo de Atividade</option>
                <option value="SegmentoMercado">Segmento de Mercado</option>
            </select>
        </div>
        <div *ngIf="tipoPesquisa">
            <div class="form-group col-md-4" style="    margin-top: 24px;">
                <input type="text" class="form-control" placeholder="Pesquisa" [(ngModel)]="pesquisa">
            </div>

            <button class="btn btn-primary" style="margin-top: 22px;" (click)="onPesquisa(pesquisa)">Pesquisar</button>
        </div>


    </div>

    <table class="table table-striped" style="margin-left: 5%;">
        <thead>
            <tr>
                <th scope="col">Ramo de Atvidade</th>
                <th scope="col">Segmento de Mercado</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of ramoAtividade">
                <td>{{r.nomeRamo}}</td>
                <td>{{r.segmentoMercado}}</td>

                <td>
                    <div class="button-edit">
                        <button (click)="excluir(r)" type="button">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="button-excluir">
                        <button (click)="editar(r)" type="button" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>

                </td>
            </tr>

        </tbody>
    </table>
</div>


<div *ngIf="edit && dadosFormulario" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Edição formulario Ramo de Atividade</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div [formGroup]="formulario" class="modal-body">

                <div class="row" style="margin-top: 2%;">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="novoNomeRamo">Nome do Ramo de Atvidade</label>
        
                            <div *ngIf="!flag[0]">
                                <input type="text" class="form-control" placeholder="Nome" formControlName="novoNomeRamo" ngModel="{{dadosFormulario.nomeRamo}}">
                            </div>
                            <div *ngIf="flag[0]">
                                <input type="text" class="form-control invalido" placeholder="Nome" formControlName="novoNomeRamo" ngModel="{{dadosFormulario.nomeRamo}}">>
        
                                <div class="invalido-texto">
                                    Por favor, Informe o ramo de atividade.
                                </div>
                            </div>
        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="novoSegmentoMercado">Segmento de Mercado: </label>
                        <div *ngIf="!flag[1]">
                            <select formControlName="novoSegmentoMercado" class="form-control" >
                                <option *ngFor="let s of segmentos" [value]="s.segmentoMercado" >{{s.segmentoMercado}}</option>
                            </select>
                        </div>
                        <div *ngIf="flag[1]">
                            <select formControlName="novoSegmentoMercado" class="form-control" >
                                <option *ngFor="let s of segmentos" [value]="s.segmentoMercado" >{{s.segmentoMercado}}</option>
                            </select>
                            <div class="invalido-texto">
                                Por favor, Informe o segmento de mercado.
                            </div>
                        </div>
                    </div> 

                </div>


                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button class="btn btn-primary" (click)="submitFormulario()">Salvar</button>
                </div>

            </div>

        </div>
    </div>
</div>